<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Memeland / Home</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <script src="/assets/js/shop.js"></script>
    <script src="/assets/js/utils.js"></script>

    <!-- ======= Header ======= -->
    <div th:insert="fragments :: nav"></div>

    <main id="main" class="main">
     
      <div class="col-xxl-4 col-md-6 mx-auto">
      
        <div class="card info-card revenue-card">
          <div class="card-body">
            <h5 class="card-title text-center">Dinero</h5>

            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-currency-dollar"></i>
              </div>
              <div class="ps-3">
                <h6 class="text-center" th:text="'$'+${user.getMoney()}">$3,264</h6>
              </div>
            </div>
          
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-4" th:each="product : ${products}">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center" th:text="${product.getName()}">Producto 1</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center" >Precio: $<span class="span-price" th:text="${product.getPrice()}"></span></h6>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="item : ${product.getProducts()}">
                    <td th:text="${item.getName()}">Item 1</td>
                    <td th:text="${item.getQuantity}">5 unidades</td>
                  </tr>
                </tbody>
              </table>
              <form>
                <div class="row">
                  <div class="col">
                    <input type="number" id="quantity" class="form-control quantity"  placeholder="Cantidad" value="1" th:attr="data-price=${product.getPrice()}">
                  </div>
                  <div class="col">
                    <button type="submit" class="btn btn-primary">Comprar</button>
                    <button th:if="${user.isOp()}"  class="btn btn-danger">Eliminar</button>
                  </div>
                  <div class="col" th:if="${user.isOp()}">
                    <button id="delete"   class="btn btn-danger">Eliminar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <div th:insert="fragments :: footer"></div>
  </body>
</html>
