<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Memeland / Home</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <div th:insert="fragments :: nav"></div>

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="home">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section dashboard">
        <div class="row">
          <!-- Left side columns -->
          <div class="col-lg-12">
            <div class="row">
              <!-- Sales Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                  <div class="card-body">
                    <h5 class="card-title text-center">Transferencias</h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-cart"></i>
                      </div>
                      <div class="ps-3">
                        <h6>145</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Sales Card -->

              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
                  <div class="card-body">
                    <h5 class="card-title text-center">Dinero</h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-currency-dollar"></i>
                      </div>
                      <div class="ps-3">
                        <h6 th:text="'$'+${user.getMoney()}">$3,264</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Revenue Card -->

              <!-- Add Sales -->
              <div class="col-12">
                <div class="card info-card revenue-card">
                  <div class="card-body">
                    <form
                      class="row g-3 mt-1 d-flex justify-content-center"
                      method="post"
                    >
                      <div class="col-auto">
                        <label for="inputPassword2" class="visually-hidden"
                          >Usuario</label
                        >
                        <select name="username" class="form-select">
                          <option
                            th:each="i : ${users}"
                            th:value="${i}"
                            th:text="${i}"
                          ></option>
                        </select>
                      </div>
                      <div class="col-auto">
                        <label for="inputPassword2" class="visually-hidden"
                          >Dinero</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          id="dineroinput"
                          placeholder="dinero"
                          name="money"
                        />
                      </div>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">
                          Mandar
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- End Revenue Card -->

              <!-- Recent Sales -->
              <div class="col-12">
                <div class="card recent-sales overflow-auto">
                  <div class="card-body">
                    <h5 class="card-title">Actividad Reciente</h5>

                    <table class="table table-borderless datatable">
                      <thead>
                        <tr>
                          <th scope="col">Fecha</th>
                          <th scope="col">Pagador</th>
                          <th scope="col">Recividor</th>
                          <th scope="col">Cantidad</th>
                          <th scope="col">Tipo</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="transfer :${transfers}">
                          <th th:text="${transfer.getDateSpanishFormat()}"></th>
                          <td th:text="${transfer.getPayer()}">
                            Brandon Jacob
                          </td>
                          <td>
                            <a
                              href="#"
                              class="text-primary"
                              th:text="${transfer.getReceiver()}"
                              >At praesentium minu</a
                            >
                          </td>
                          <td th:text="${transfer.getAmount()}">$64</td>
                          <td th:if="${transfer.getPayer() == user.getName()}">
                            <span class="badge bg-danger">Saliente</span>
                          </td>
                          <td th:if="${transfer.getPayer() != user.getName()}">
                            <span class="badge bg-success">Entrante</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- End Recent Sales -->
            </div>
          </div>
          <!-- End Left side columns -->

          <!-- Right side columns -->
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <div th:insert="fragments :: footer"></div>
  </body>
</html>
